Source: ros-hydro-prosilica-camera
Section: misc
Priority: extra
Maintainer: "Austin Hendrix <ahendrix@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-camera-calibration-parsers, ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-driver-base, ros-hydro-dynamic-reconfigure, ros-hydro-image-transport, ros-hydro-polled-camera, ros-hydro-prosilica-gige-sdk, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Homepage: http://www.ros.org/wiki/prosilica_camera
Standards-Version: 3.9.2

Package: ros-hydro-prosilica-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-camera-calibration-parsers, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-driver-base, ros-hydro-dynamic-reconfigure, ros-hydro-image-transport, ros-hydro-polled-camera, ros-hydro-prosilica-gige-sdk, ros-hydro-roscpp, ros-hydro-self-test, ros-hydro-sensor-msgs, ros-hydro-std-msgs
Description: A ROS driver node for AVT/Prosilica Gigabit Ethernet (GigE) cameras.
